@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@100;300;400;500;600;700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  /* COLORS */
  --BGCOLOR: #000;
  --WHITE: #fff;
  --BLUE: BLUE;
  --LGHTBLUE: rgb(104, 104, 248);
  --WHITESMOKE: Whitesmoke;
  --ACTIVE-COLOR: GREEN;
  --ASH: #f4f4f4;
  --GRAY: #333;
  --YELLOW: rgb(221, 208, 21);
  --FONT-COLOR: black;

  /* FONT */
  --FONT-WEIGHT: BOLD;
  --FONT-SIZE: 12px;
  --HOVER-FONT-SIZE: 18px;
  --TEXT-CENTER: CENTER;

  /* BORDER */
  --BORDER: NONE;
  --BORDER-FIVE: 5px;
  --BORDER-TEN: 10px;
  --BORDER-FIFTEEN: 15px;
  --BORDER-TWENTY: 20px;

  /* MARGIN */

  --MARGIN: 0;
  --MARGIN-FIVE: 5px;
  --MARGIN-TEN: 10px;
  --MARGIN-FIFTEEN: 15px;
  --MARGIN-TWENTY: 20px;
  --MARGIN-THIRTY: 30px;
  --MARGIN-FORTY: 40px;

  /* PADDING*/

  --PADDINGF: 0;
  --PADDING-FIVE: 5px;
  --PADDING-TEN: 10px;
  --PADDING-FIFTEEN: 15px;
  --PADDING-TWENTY: 20px;

  /* FONT SIZE */
  --FONT-SIZE-FIVE: 5px;
  --FONT-SIZE-TEN: 10px;
  --FONT-SIZE-FIFTEEN: 15px;
  --FONT-SIZE-TWENTY: 20px;
  --FONT-SIZE-TWENTYFIVE: 25px;
  --FONT-SIZE-THIRTY: 30px;
}
body {
  background-color: var(--BGCOLOR);
  /* min-height: 100vh; */
}

.overall_header,
.overall_main {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

/* header begins */
.overall_header {
  background-color: var(--YELLOW);
  box-shadow: 3px 3px 3px 3px var(--GRAY);
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--PADDING-TEN);
  background-color: var(--GRAY);
  color: var(--WHITE);
}

.navbar img {
  margin-right: var(--MARGIN-TEN);
}
div > a {
  text-decoration: none;
  margin-left: var(--MARGIN-TWENTY);
  color: var(--BGCOLOR);
  font-size: var(--FONT-SIZE-TWENTY);
  font-weight: var(--FONT-WEIGHT);
}
.navbar button:first-child {
  padding: 6px 9px;
  background-color: var(--WHITE);
  border-radius: var(--BORDER-FIVE);
  font-weight: var(--FONT-WEIGHT);
  border: var(--BORDER);
}

/* hero section  */
.hero-sec {
  display: flex;
  justify-content: space-between;
  align-items: var(--TEXT-CENTER);
  padding: 40px 30px;
}
.dev {
  width: 35%;
  height: auto;
}

.hero-sec button {
  padding: 6px 9px;
  margin-top: var(--MARGIN-TWENTY);
  background-color: var(--WHITE);
  border-radius: var(--BORDER-FIVE);
  font-weight: 600;
  border: var(--BORDER);
}

.hero-sec h1 {
  font-size: 2.5rem;
  margin-bottom: var(--MARGIN-TWENTY);
}

.hero-sec p {
  max-width: 500px;
}
.tricks {
  border-radius: var(--BORDER-FIVE);
  background-color: var(--BGCOLOR);
  color: var(--WHITE);
  border: var(--BORDER);
  padding: 7px var(--PADDING-FIFTEEN);
}

/* main styling begins */

.overall_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--WHITE);
  padding: 40px 30px;
  flex-wrap: wrap;
  margin: var(--MARGIN-THIRTY);
}
.overall_main p {
  max-width: 500px;
  margin-top: var(--MARGIN-TEN);
}

.overall_main button {
  border-radius: var(--BORDER-FIVE);
  background-color: var(--YELLOW);
  color: var(--WHITE);
  border: var(--BORDER);
  padding: 7px var(--PADDING-FIFTEEN);
  font-weight: var(--FONT-WEIGHT);
  margin-top: var(--MARGIN-TEN);
}

#ourservices {
  color: var(--WHITE);
  text-align: var(--TEXT-CENTER);
  font-size: var(--FONT-SIZE-THIRTY);
}

/* swiper styling */
.swiper {
  padding: 20px;
  margin-top: var(--MARGIN-FORTY);
}
.swiper img {
  width: 90%;
}
.swiper h1 {
  color: var(--WHITE);
  margin-top: var(--MARGIN-TEN);
}
.swiper p {
  margin-top: var(--MARGIN-TEN);
  color: var(--WHITE);
  font-size: var(--FONT-SIZE-TEN);
  max-width: 240px;
}
.swiper button {
  margin-top: var(--MARGIN-TEN);
  background-color: var(--YELLOW);
  padding: var(--PADDING-FIVE);
  border: var(--BORDER);
  border-radius: var(--BORDER-FIVE);
}
/* section video {
  width: 100%;
  height: auto;
} */

/* toggle button styling */
.show-nav a {
  display: block;
  padding-top: var(--PADDING-FIFTEEN);
  margin-top: var(--MARGIN-FIVE);
  text-align: var(--TEXT-CENTER);
  color: var(--WHITE);
  font-size: var(--FONT-SIZE-FIFTEEN);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: none;
  background-color: red;
}
.bi {
  display: none;
}
/* end of toggle button styling */

/* footer stying begins */
footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  align-items: center;
  color: #000;
  background-color: var(--YELLOW);
  margin-top: 50px;
}

.white p {
  font-size: 15px;
  margin: 0;
  text-align: left;
  cursor: pointer;
}
.white p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}
@media screen and (max-width: 500px) {
  div > a {
    display: none;
  }
  .navbar {
    margin: var(--MARGIN);
    justify-content: space-between;
    padding-left: var(--PADDING-TWENTY);
  }
  .tricks {
    display: none;
  }
  .hero-sec h1 {
    font-size: 2rem;
    margin-bottom: var(--MARGIN);
  }
  .hero-sec {
    flex-wrap: wrap;
  }
  .dev {
    margin-top: 40px;
    width: 100%;
  }

  /* toggle button  */
  button {
    border: var(--BORDER);
  }
  .bi {
    display: block;
    background-color: var(--GRAY);
    outline: none;
  }
  /* toggle button ends */

  /* main styling begins */
  .overall_main {
    padding: 30px 30px;
    margin: var(--MARGIN);
  }
  .overall_main div {
    margin-top: 40px;
  }

  /* footer styling */

  footer {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
  }
  .white {
    margin: 20px;
  }
}
